<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>Student Attendance System</title>
  <link rel="icon" href="/images/favicon.png">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/firstPage.css">
  <script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
   </script>
</head>

<body>

  <div class="navbar">
    <h1 class="nameOfStudent">Student Attendance System</h1>
  </div>

  <div class="container">
    <div class="box teacher-box">
      <form class="teacher-form" action="/" method="POST">
        <button class = "teacherBtn" type="submit" name="button" value="teacher">Teacher Login</button>
      </form>
    </div>
    <div class="box student-box">
      <form class="student-form" action="/" method="POST">
        <button class="studentBtn" type="submit" name="button" value="student">Student Login</button>
      </form>
    </div>
  </div>

</body>

</html>
