<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Message</title>
    <link rel="stylesheet" href="css/messages.css">
  </head>
  <body>
    <div class="navbar">
      <div class="left-side-box">
        <img class="profile-photo" src="<%=imageUploaded%>" alt="profile-photo">
        <h1 class="nameOfStudent">Welcome <%= studentName %>!</h1>
      </div>
      <a class="tooltip" href="/logout"><span class="tooltiptext">Logout</span><img class="logout-btn" src="https://img.icons8.com/external-sbts2018-mixed-sbts2018/58/000000/external-logout-social-media-basic-1-sbts2018-mixed-sbts2018.png" /></a>
    </div>
    <div class="container">
      <h2 class="msg-textbox"><%=msg%></h2>
      <a href="/"><%=buttonText%></a>
    </div>

    <script src="js/messages.js" charset="utf-8"></script>
  </body>
</html>
