<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Success Message</title>
    <link rel="stylesheet" href="css/message.css">
  </head>
  <body>
    <div class="navbar">
      <h1 class="nameOfStudent">Welcome <%= studentName %>!</h1>
    </div>
    <div class="container">
      <h2 class="msg-textbox"><%=msg%></h2>
      <div class="msg-box">
        <div class="msg-text">Redirecting to Home in </div><div class="num msg-text">5 </div><div class="msg-text">seconds.</div>
      </div>
    </div>

    <script src="js/message.js" charset="utf-8"></script>
  </body>
</html>
