<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>Student Register</title>
  <link rel="icon" href="/images/favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/studentRegister.css">
  <script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
   </script>
</head>

<body>
  <h1 class="heading">Student Register</h1>
  <div class="register-box">
    <%- include('partials/errorMsgs') %>
    <form class="register-form" action="/studentRegister" method="POST">
      <input type="text" name="studentName" placeholder="Name" value="<%= typeof studentName != 'undefined' ? studentName : '' %>" required autofocus autocomplete="off" spellcheck="false">
      <input type="email" name="username" placeholder="Email" value="<%= typeof email != 'undefined' ? email : '' %>" required autocomplete="off" spellcheck="false">
      <div class="password-field">
        <input onkeyup="trigger()" class="pass" type="password" name="password" placeholder="Password" required autocomplete="off" spellcheck="false">
        <span class="showBtn"><img class="eye-image" src="images/eye.png" alt="SHOW"></span>
      </div>
      <input type="text" name="enrollmentno" placeholder="Enrollment No." required autocomplete="off" spellcheck="false">
      <input class="hidden-input" type="hidden" name="branch" value="">
      <div class="custom-select">
        <select>
          <option value="0">Select Branch</option>
          <option value="1">CSE</option>
          <option value="2">CST</option>
          <option value="3">IT</option>
          <option value="4">ITE</option>
          <option value="5">ECE</option>
          <option value="6">EEE</option>
        </select>
      </div>
      <button type="submit">Register</button>
      <div class="login-link">Have an account? <a href="/studentLogin">Log in</a></div>
    </form>
  </div>

  <script defer src="js/studentSignupLogin.js" charset="utf-8"></script>
</body>

</html>
