<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>Teacher Register</title>
  <link rel="icon" href="/images/favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/teacherRegister.css">
  <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
  <script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
  </script>
</head>

<body>
  <box-icon class="back-btn" name="arrow-back" onclick="backToHome()"></box-icon>
  <h1 class="heading">Teacher Register</h1>
  <div class="register-box">
    <%- include('partials/errorMsgs') %>
    <form class="register-form" action="/teacherRegister" method="POST">
      <input type="text" name="teacherName" placeholder="Name" value="<%= typeof teacherName != 'undefined' ? teacherName : '' %>" required autofocus autocomplete="off" spellcheck="false">
      <input type="email" name="username" placeholder="Email" value="<%= typeof email != 'undefined' ? email : '' %>" required autocomplete="off" spellcheck="false">
      <div class="password-field">
        <input onkeyup="trigger()" class="pass" type="password" name="password" placeholder="Password" required autocomplete="off" spellcheck="false">
        <span class="showBtn"><img class="eye-image" src="images/eye.png" alt="SHOW"></span>
      </div>
      <input type="text" name="collegeCode" placeholder="College Code" required autocomplete="off" spellcheck="false">
      <input class="hidden-input" type="hidden" name="facultyCode" value="">
      <div class="custom-select">
        <select>
          <option value="0">Select Faculty Code</option>
          <option value="1">CDG</option>
          <option value="2">CPS</option>
          <option value="3">DKD</option>
          <option value="4">FAG</option>
          <option value="5">MAK</option>
          <option value="6">MNG</option>
          <option value="7">MSB</option>
          <option value="8">OAK</option>
          <option value="9">PMA</option>
          <option value="10">PSJ</option>
          <option value="11">SAK</option>
          <option value="12">TSN</option>
        </select>
      </div>
      <input class="subjectcode" type="text" name="" value="" placeholder="Subject Code" disabled>
      <input class="hidden-subcode" type="hidden" name="subjectCode" value="">
      <button type="submit">Register</button>
      <div class="login-link">Have an account? <a href="/teacherLogin">Log in</a></div>
    </form>
  </div>

  <script src="js/teacherSignuplogin.js" charset="utf-8"></script>
  <script src="js/index.js" charset="utf-8"></script>
</body>

</html>
