*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  text-align: center;
  background-color: #d9e4f5;
  background-image: linear-gradient(315deg, #d9e4f5 0%, #d9e4f5 74%);
}

.navbar {
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
  display: flex;
  justify-content: space-between;
  height: 76px;
}

.navbar h1 {
  margin-left: 25px;
  margin-top: 18.5px;
  color: #fff;
}

.navbar .profile-photo {
  width: 65px;
  height: 65px;
  margin-top: 5px;
  border-radius: 45px;
}

.left-side-box {
  display: flex;
  margin-left: 25px;
}

.navbar .logout-btn {
  width: 25px;
  height: 25px;
  margin-top: 25px;
  margin-right: 25px;
  text-decoration: none;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 70px;
  background-color: #333333;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 23.5px;
  right: 108%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 75px);
}

.container p {
  margin-top: 15px;
  color: #000;
}

.container button {
  padding: 10px 20px;
  border: 1px solid black;
  outline: none;
  margin: 15px;
  font-size: 1rem;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

.container .msg-textbox {
  display: none;
  margin-bottom: 9px;
  padding: 0 15%;
}

.container button:hover {
  background-color: #e0ebeb;
}

.btn {
  display: none;
}

.try-again-btn {
  display: none;
}

.push-attendance-to-db {
  display: none;
}

canvas {
  width: 480px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
}

.imp-info {
  display: none;
}

.first-image {
  display: none;
}

.second-image {
  display: none;
}

.third-image {
  display: none;
}

.video {
  display: none;
}

.videoDesc {
  display: none;
}

.video-box {
  position: relative;
}

.tries-rem {
  display: none;
}

::-webkit-scrollbar {
  width: 0.9em;
}

::-webkit-scrollbar-track {
  background-color: #A9C9FF;
  background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background-color: #8EC5FC;
  background-image: linear-gradient(135deg, #8EC5FC 0%, #E0C3FC 100%);
  border-radius: 100vw;
}
