body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
}

.back-btn {
  position: absolute;
  top: 40px;
  left: 40px;
  cursor: pointer;
  transform: scale(1.5);
}

.heading {
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: #0e3564;
}

/* ############### Login Box ############### */

.login-box {
  padding: 25px 20px 20px 20px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: #A9C9FF;
  background-image: linear-gradient(315deg, #A9C9FF 0%, #FFBBEC 100%);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  margin: 12px;
  padding: 8px 8px 8px 6.5px;
  width: 350px;
  border-radius: 8px;
  outline: none;
  border: 1px solid black;
  font-size: 1rem;
}

.password-field {
  position: relative;
}

.eye-image {
  height: 18px;
  margin-right: 2px;
}

.pass {
  padding-right: 35px;
}

.showBtn {
  position: absolute;
  cursor: pointer;
  font-weight: 500;
  right: 18px;
  top: 35%;
  font-size: 13px;
  cursor: pointer;
  display: none;
}

/* ############### Buttons ############### */

.login-form button {
  padding: 10px 20px;
  border: 2px solid #9933ff;
  color: #fff;
  outline: none;
  margin: 13.5px 1px 13.5px 1px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #726cf8;
  background-image: linear-gradient(315deg, #726cf8 0%, #e975a8 74%);
  cursor: pointer;
}

.login-form button:hover {
  background-image: linear-gradient(300deg, #726cf8 0%, #e975a8 74%);
}

/* ############### Signup Redirect ############### */

.signup-link {
  color: #0a2342;
}

.signup-link a{
  color: #1a75ff;
  font-weight: 600;
  text-decoration: none;
}

.signup-link a:hover{
  text-decoration: underline;
}
