*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #d9e4f5;
  background-image: linear-gradient(315deg, #d9e4f5 0%, #d9e4f5 74%);
}

/* ############### Navbar ############### */

.navbar {
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
  display: flex;
  justify-content: space-between;
  height: 76px;
}

.navbar h1 {
  margin-left: 25px;
  margin-top: 18.5px;
  color: #fff;
}

.navbar .profile-photo {
  width: 65px;
  height: 65px;
  margin-top: 5px;
  border-radius: 45px;
}

.left-side-box {
  display: flex;
  margin-left: 25px;
}

.navbar .logout-btn {
  width: 25px;
  height: 25px;
  margin-top: 25px;
  margin-right: 25px;
  text-decoration: none;
}

/* ############### Tooltip ############### */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 70px;
  background-color: #333333;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 23.5px;
  right: 108%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

/* ############### Scrollbar ############### */

::-webkit-scrollbar {
  width: 0.9em;
}

::-webkit-scrollbar-track {
  background-color: #A9C9FF;
  background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background-color: #8EC5FC;
  background-image: linear-gradient(135deg, #8EC5FC 0%, #E0C3FC 100%);
  border-radius: 100vw;
}
