*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  text-align: center;
  background-color: #d9e4f5;
  background-image: linear-gradient(315deg, #d9e4f5 0%, #d9e4f5 74%);
}

.navbar {
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
  display: flex;
  justify-content: space-between;
  height: 76px;
}

.navbar h1 {
  margin-left: 25px;
  margin-top: 18.5px;
  color: #fff;
}

.navbar .logout-btn {
  width: 25px;
  height: 25px;
  margin-top: 25px;
  margin-right: 25px;
  text-decoration: none;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 70px;
  background-color: #333333;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 23.5px;
  right: 108%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.heading {
  font-size: 3.5rem;
  margin-top: 30px;
}

.back-btn {
  position: absolute;
  top: 50px;
  left: 50px;
  cursor: pointer;
  transform: scale(1.5);
}

.alert-pop-up {
  text-align: left;
  width: 280px;
  position: absolute;
  top: 35px;
}

.alert-pop-up button {
  top: -16px;
  left: 240px;
}

input {
  margin: 12px;
  padding: 8px 8px 8px 6.5px;
  border-radius: 8px;
  outline: none;
  border: 1px solid black;
  font-size: 1rem;
}

.custom-select {
  position: relative;
  margin: 12px;
  width: 260px;
  border-radius: 8px;
  outline: none;
  border: 1px solid black;
  font-size: 1rem;
}

.custom-select select {
  display: none;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #000 transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #000 transparent;
  top: 7px;
}

.select-items div {
  color: #000;
  padding: 8px 16px 8px 6.5px;
  border: 1px solid transparent;
  border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.select-selected {
  color: #000;
  padding: 8px 16px 8px 5px;
  border: 1px solid transparent;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #1e90ff;
}

.bound-together {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bound-together label {
  font-size: 1.3rem;
}

.bound-together span {
  margin-right: 5px;
  font-size: 1.3rem;
}

.selectDate {
  width: 210px;
}

.myTime {
  display: flex;
  justify-content: center;
  align-items: center;
}

.starting-time  {
  margin-right: 14px;
}

.time-range {
  width: 150px;
}

.view-attendance-form {
  margin-top: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95vw;
  border: 1px solid transparent;
}

button {
  padding: 10px 20px;
  border: 1px solid black;
  outline: none;
  margin: 15px 1px 13.5px 1px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #efefef;
  cursor: pointer;
}

button:hover {
  background-color: #e0ebeb;
}

.no-attendance {
  margin-top: 20vh;
  color: blue;
}

.box {
  width: 90vw;
  margin-top: 60px;
  margin-bottom: 50px;
}

.adjust-height {
  margin-top: 220px;
}

.attendance-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.attendance-card div {
  text-align: center;
  font-size: 1.2rem;
  padding: 12px;
}

.sno {
  border: 1px solid transparent;
  border-color: transparent rgba(0, 0, 0, 1) transparent transparent;
  width: 5vw;
}

.nameOfStudent {
  border: 1px solid transparent;
  border-color: transparent rgba(0, 0, 0, 1) transparent transparent;
  width: 30vw;
}

.enrollnum {
  border: 1px solid transparent;
  border-color: transparent rgba(0, 0, 0, 1) transparent transparent;
  width: 40vw;
}

.attendance-time {
  width: 15vw;
}

.green {
  background-color: #5cd65c;
}

.red {
  background-color: #ff3333;
}

::-webkit-scrollbar {
  width: 0.9em;
}

::-webkit-scrollbar-track {
  background-color: #A9C9FF;
  background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background-color: #8EC5FC;
  background-image: linear-gradient(135deg, #8EC5FC 0%, #E0C3FC 100%);
  border-radius: 100vw;
}

/* ############### Media Queries ############### */

@media screen and (max-width: 1450px) {
  .view-attendance-form {
    width: 98vw;
  }
}

@media screen and (max-width: 1396px) {
  .view-attendance-form {
    width: 100vw;
  }
}

@media screen and (max-width: 1368px) {
  .view-attendance-form {
    width: 99vw;
  }

  .custom-select {
    width: 240px;
  }

  .selectDate {
    width: 190px;
  }

  .time-range {
    width: 140px;
  }
}

@media screen and (max-width: 1321px) {
  .view-attendance-form {
    width: 100vw;
  }

  .custom-select {
    width: 220px;
  }

  .selectDate {
    width: 170px;
  }

  .time-range {
    width: 120px;
  }

  .get-attendance-btn {
    padding: 10px 10px;
  }
}

@media screen and (max-width: 1208px) {
  .custom-select {
    width: 200px;
  }

  .selectDate {
    width: 150px;
  }

  .time-range {
    width: 100px;
  }

  .get-attendance-btn {
    padding: 10px 5px;
  }
}

@media screen and (max-width: 1120px) {
  .bound-together label {
    font-size: 1.1rem;
  }

  .bound-together span {
    margin-right: 2.5px;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 1038px) {
  .bound-together label {
    font-size: 1rem;
  }

  .bound-together span {
    margin-right: 2px;
    font-size: 1rem;
  }

  input {
    margin: 6px;
    padding: 8px 6px 8px 4.5px;
  }

  .starting-time  {
    margin-right: 8px;
  }
}

@media screen and (max-width: 1007px) {
  .custom-select {
    width: 180px;
  }

  .selectDate {
    width: 130px;
  }

  .time-range {
    width: 80px;
  }
}

@media screen and (max-width: 928px) {
  .custom-select {
    width: 160px;
  }
}

@media screen and (max-width: 880px) {
  .custom-select {
    width: 145px;
    margin: 4px;
  }

  .time-range {
    width: 75px;
  }

  .starting-time  {
    margin-right: 4px;
  }

  input {
    margin: 4px;
  }

  .get-attendance-btn {
    padding: 10px 4px;
    width: 100px;
  }

  .bound-together span {
    margin-right: 1px;
  }
}
