body {
  text-align: center;
}

/* ############### Container ############### */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.heading {
  font-size: 3.5rem;
  margin-top: 30px;
  color: #0e3564;
}

.back-btn {
  position: absolute;
  top: 50px;
  left: 50px;
  cursor: pointer;
  transform: scale(1.5);
}

.no-msg {
  margin-top: 23vh;
  color: #3F00FF;
  margin-bottom: 10px;
}

.no-unread-msg {
  color: #3F00FF;
  margin-top: 18vh;
  margin-bottom: 10px;
}

input {
  margin: 12px;
  padding: 8px 8px 8px 6.5px;
  width: 350px;
  border-radius: 8px;
  outline: none;
  border: 1px solid black;
  font-size: 1rem;
  text-align: center;
}

input[type=text]:disabled {
  background: #F2F2F2;
}

/* ############### Message Form ############### */

.unread-msgs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.myForm {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
}

.show-only-unread {
  height: 23.5px;
  width: 23.5px;
  margin-right: 10px;
}

/* ############### Message Box ############### */

.box {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.adjust-height {
  margin-top: 210px;
}

/* ############### Message Cards ############### */

.message-card {
  padding: 10px;
  width: 40vw;
  margin: 26px 26px;
  border: 1px solid black;
  line-height: 1.5;
}

.imp-info {
  display: none;
}

.message-card {
  padding: 10px;
  width: 40vw;
  margin: 26px 26px;
  border: 2px solid black;
  line-height: 1.5;
  border-radius: 16px;
  position: relative;
  height: 315px;
}

.unread {
  color: #0a2342;
  background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
}

.read {
  color: #0a2342;
  background: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
}

.nameOfStudent {
  position: absolute;
  top: 45px;
  left: 40px;
}

.studentImage {
  position: absolute;
  top: 25px;
  right: 112px;
}

.emailId {
  position: absolute;
  top: 80px;
  left: 40px;
}

.message-card img {
  width: 65px;
  height: 65px;
  border-radius: 45px;
}

.enrollnum {
  position: absolute;
  top: 110px;
  right: 40px;
}

.studentBranch {
  position: absolute;
  top: 140px;
  right: 115px;
}

.msgDate {
  position: absolute;
  top: 110px;
  left: 40px;
}

.msgTime {
  position: absolute;
  top: 140px;
  left: 40px;
}

.msg {
  position: absolute;
  top: 180px;
  left: 40px;
  text-align: left;
  padding-right: 40px;
}

.imp-info {
  display: none;
}

.message-form {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 10px;
}

/* ############### Buttons ############### */

button {
  padding: 10px 20px;
  border: 2px solid #9933ff;
  color: #fff;
  outline: none;
  margin: 15px 1px 13.5px 1px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #726cf8;
  background-image: linear-gradient(315deg, #726cf8 0%, #e975a8 74%);
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-image: linear-gradient(300deg, #726cf8 0%, #e975a8 84%);
}

/* ############### Media Queries ############### */

@media screen and (max-width: 1150px) {
  .message-card {
    width: 50vw;
  }
}

@media screen and (max-width: 1025px) {
  .message-card {
    width: 60vw;
  }
}

@media screen and (max-width: 850px) {
  .message-card {
    width: 70vw;
  }
}
