*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  text-align: center;
  background-color: #d9e4f5;
  background-image: linear-gradient(315deg, #d9e4f5 0%, #d9e4f5 74%);
}

.navbar {
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
  display: flex;
  justify-content: space-between;
  height: 76px;
}

.navbar h1 {
  margin-left: 25px;
  margin-top: 18.5px;
  color: #fff;
}

.navbar .profile-photo {
  width: 65px;
  height: 65px;
  margin-top: 5px;
  border-radius: 45px;
}

.left-side-box {
  display: flex;
  margin-left: 25px;
}

.navbar .logout-btn {
  width: 25px;
  height: 25px;
  margin-top: 25px;
  margin-right: 25px;
  text-decoration: none;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 70px;
  background-color: #333333;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 23.5px;
  right: 108%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.heading {
  font-size: 3.5rem;
  margin-top: 30px;
}

.back-btn {
  position: absolute;
  top: 50px;
  left: 50px;
  cursor: pointer;
  transform: scale(1.5);
}

.input-div {
  margin-top: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
}

input {
  margin: 12px;
  padding: 8px 8px 8px 6.5px;
  width: 350px;
  border-radius: 8px;
  outline: none;
  border: 1px solid black;
  font-size: 1rem;
  text-align: center;
}

.monthOfAttendance {
  margin-bottom: 15px;
  text-align: left;
}

.box {
  width: 80vw;
  margin-top: 60px;
  margin-bottom: 50px;
}

.attendance-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.attendance-card div {
  text-align: center;
  font-size: 1.2rem;
  padding: 12px;
}

.dateOfAttendance {
  border: 1px solid transparent;
  border-color: transparent rgba(0, 0, 0, 1) transparent transparent;
  width: 25vw;
}

.attendanceResult {
  width: 55vw;
}

.sunday {
  color: blue;
  background-color: #4ddbff;
}

.green {
  color: green;
  background-color: #B8F1B0;
}

.red {
  color: red;
  background-color: #FFC3C3;
}

.messageSent {
  color: #876445;
  background-color: #FFEBC1;
}

.attendance-result {
  text-align: left;
  margin-top: 30px;
  font-size: 1.3rem;
  line-height: 1.6;
}

::-webkit-scrollbar {
  width: 0.9em;
}

::-webkit-scrollbar-track {
  background-color: #A9C9FF;
  background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background-color: #8EC5FC;
  background-image: linear-gradient(135deg, #8EC5FC 0%, #E0C3FC 100%);
  border-radius: 100vw;
}
